.rtx-quickaccess-button {
    display: inline-block;
    width: 1.5em;
    font-size: large;
    color: #666;
    text-align: center;
    padding: 0.25em;
    text-decoration: none !important;
    position: relative;
}

.rtx-quickaccess-button:visited {
    color: #666 !important;
}

.rtx-quickaccess-button:hover {
    background-color: #f1f1f1;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}

.rtx-quickaccess-button:hover svg {
    color: #F05E32;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}

.rtx-quickaccess-tooltip {
    position: absolute;
    z-index: 1000;
    margin: 0.75em 0.5em;
    border: 1px #c1c1c1 solid;
    padding: 0.5em;
    background-color: #f1f1f1;
    white-space: nowrap;
    font-size: small;
    color: #666;
}

*:not(:hover) .rtx-quickaccess-tooltip,
.rtx-quickaccess-tooltip:hover {
    display: none;
}
