.rtx-quickaccess-button {
  display: inline-block;
  border: 1px #c1c1c1 solid;
  white-space: nowrap;
      color: #666;
      text-align: center;
      padding: 6px;
      margin: 6px 2px 0 0;
      width: 82px;
      text-decoration: none !important;
}

.rtx-quickaccess-button:visited {
    color: #666 !important;
}

.rtx-quickaccess-button:hover {
    background-color: #f1f1f1;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}

.rtx-quickaccess-button:hover svg {
    color: #F05E32;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}
